.loader-insert-update {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-delete {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-upload-label {
    cursor: pointer;
    display: inline-block;
}
  
.browse-image {
    width: 100px; 
    height: 100px;
}
  
.upload-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}